.heading-1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: capitalize;
}

.heading-2 {
  font-size: 3.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.heading-3 {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.heading-4 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.text-body {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
}

.text-body-medium {
  font-size: 1.6rem;
  font-weight: 500;
}

.text-body-semibold {
  font-size: 1.6rem;
  font-weight: 600;
}

.text-label {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.text-label-small {
  font-size: 1.2rem;
  font-weight: 400;
}

.text-label-medium {
  font-size: 1.4rem;
  font-weight: 500;
}

.text-label-semibold {
  font-size: 1.4rem;
  font-weight: 600;
}
