.button {
  transition: 0.2s;
  border-radius: 100rem;
  cursor: pointer;

  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
    }
  }

  &__select {
    position: relative;
    display: flex;
    align-items: center;

    ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: -0.1rem;
      right: -0.1rem;

      li {
        list-style: none;
        border-radius: 100rem;
        width: 100%;
      }
    }

    &--active ul {
      display: flex;
    }

    &--small {
      @extend .button__select;
      gap: 0.8rem;

      ul {
        gap: 0.8rem;
        border: 0.1rem solid $color-white;
        border-top: none;
        border-radius: 0 0 1.6rem 1.6rem;
        padding: 3rem 0.8rem 1.2rem;

        li {
          padding: 0.4rem 0.8rem;
          transition: 0.2s;

          &:hover {
            background-color: $color-primary;
          }
        }
      }
    }

    &--large {
      @extend .button__select;
      gap: 1.6rem;
    }
  }

  &__text-fixed {
    width: 7rem;
    display: block;
    display: flex;
    justify-content: center;
  }

  &__arrow {
    &--white {
      width: 1.6rem;
      height: 1.6rem;
      fill: $color-white;
    }
  }

  &--fill-green {
    @extend .button;
    background-color: $color-primary;
    color: $color-white;
    border: none;

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &--empty-green {
    @extend .button;
    background-color: transparent;
    color: $color-primary-dark;
    border: 0.1rem solid $color-primary-dark;
    padding: 1.2rem 2.4rem;
    line-height: 2.4rem;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &--empty-white {
    @extend .button;
    background-color: transparent;
    color: $color-white;
    border: 0.1rem solid $color-white;
    padding: 0.8rem 1.6rem;
  }
}
