#consent-check {
  display: none;

  &:checked + .checkbox {
    background-image: $check-icon,
      linear-gradient($color-primary, $color-primary);
    background-repeat: no-repeat;
    background-size: 1.6rem 1.6rem, 100%;
    background-position: center;
  }
}

.checkbox {
  cursor: pointer;
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  border: 0.1rem solid $color-primary;
  border-radius: 0.4rem;
}
