.line-text {
  position: relative;
  color: $color-secondary;

  &::before {
    position: absolute;
    content: '';
    height: 0.1rem;
    width: 3.2rem;
    background-color: $color-secondary;
    left: -4rem;
    top: 0.8rem;
  }
}
