.small-card {
  cursor: pointer;
  padding: 2.4rem;
  border-radius: 3.2rem;
  background-color: $color-white;
  display: flex;
  align-items: center;
  gap: 1.6rem;

  &__img {
    width: 5.6rem;
    height: 5.6rem;
  }

  &__description {
    color: $color-grey-2;
  }
}
