.header {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: $content-width;
  margin-top: 3.9rem;
  margin: 3.9rem 12.4rem 0;

  &__logo {
    width: 11.5rem;
    height: 3.6rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
    width: 52rem;
  }
}
